<div style="min-width: 100%; background-image: url('../assets/img/horse.jpg');">
    <br>
    <div class="container" style="max-width:600px;height: 330px; background-color: white; border-radius:1%;">
        <h2 class="textual">Login user</h2>
        <form #loginform="ngForm" (ngSubmit)="loginUser()">
            <small class="text-danger"> {{msg}} </small>

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" placeholder="Enter email" name="email"
                    [(ngModel)]="user.emailId" required pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" #email="ngModel"
                    [class.is-invalid]="email.invalid && email.touched">
                <div *ngIf="email.errors && (email.invalid && email.touched)">
                    <small class="text-danger" *ngIf=" email.errors.required">Email Id is required field</small>
                    <small class="text-danger" *ngIf=" email.errors.pattern ">Enter the valid value of emailID</small>
                </div>
            </div>

            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" placeholder="Enter password" name="password"
                    [(ngModel)]="user.password" required #password="ngModel"
                    [class.is-invalid]="password.invalid && password.touched">
                <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password Id is required
                    field</small>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" name="remember"> Remember me
                </label>
            </div>

           
            <small class="float-right" [routerLink]="['/registration']">New user ? Registrer here </small>
            <button [disabled]="loginform.form.invalid" type="submit" class="btn btn-info">Login</button>
            
        </form>

    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>