
  <div>
    <!-- Page Loader -->
    <!--<div class="page-loader-wrapper">
      <div class="loader">
        <div class="preloader">
          <div class="spinner-layer pl-red">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
        <p>Please wait...</p>
      </div>
    </div>-->
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
    <div class="search-bar">
      <div class="search-icon">
        <i class="material-icons">search</i>
      </div>
      <input type="text" placeholder="START TYPING...">
      <div class="close-search">
        <i class="material-icons">close</i>
      </div>
    </div>
    <!-- #END# Search Bar -->
    <!-- Top Bar -->
    <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
          <a href="javascript:void(0);" class="bars"></a>
          <a class="navbar-brand" [routerLink]="['/dashboard']">DASHBOARD - CENTRE EQUESTRE</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <!-- Call Search -->
            <li><a href="javascript:void(0);" class="js-search" data-close="true"><i class="material-icons">search</i></a></li>
            <!-- #END# Call Search -->
          </ul>
        </div>
      </div>
    </nav>
    <!-- #Top Bar -->
    <section>
      <!-- Left Sidebar -->
      <aside id="leftsidebar" class="sidebar">
        <!-- User Info -->
        <div class="user-info">
          <div class="image">
            <img src="assets/menu/images/user.png" width="48" height="48" alt="User" />
          </div>
          <div class="info-container">
            <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">John Doe</div>
            <div class="email">admin@gmail.com</div>
            <div class="btn-group user-helper-dropdown">
              <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
              <ul class="dropdown-menu pull-right">
                <li><a ><i class="material-icons">person</i>Profil</a></li>
                <li><a (click)="onLogout()"><i class="material-icons">input</i>Se Déconnecter</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- #User Info -->
        <!-- Menu -->
        <div class="menu">
          <ul class="list">
            <li class="header">MAIN NAVIGATION</li>
            <li routerLinkActive="active">
              <a [routerLink]="['/dashboard']" routerLinkActive="active-item">
                <i class="material-icons">home</i>
                <span>Accueil</span>
              </a>
            </li>
            <li routerLinkActive="active">
              <a [routerLink]="['/dashboard/gestion-chevaux']" routerLinkActive="active-item">
                <i class="material-icons">text_fields</i>
                <span>Gestion des chevaux</span>
              </a>
            </li>
            <li routerLinkActive="active">
              <a [routerLink]="['/dashboard/gestion-plannings']" routerLinkActive="active-item">
                <i class="material-icons">widgets</i>
                <span>Gestion des plannings</span>
              </a>
            </li>
            <li routerLinkActive="active">
              <a [routerLink]="['/dashboard/reprise-cours']" routerLinkActive="active-item">
                <i class="material-icons">swap_calls</i>
                <span>Gestion reprise cours</span>
              </a>
            </li>
            <li routerLinkActive="active">
              <a [routerLink]="['/dashboard/gestion-utilisateurs']" routerLinkActive="active-item">
                <i class="material-icons">layers</i>
                <span>Gestion des utilisateurs</span>
              </a>
            </li>
          </ul>
        </div>
        <!-- #Menu -->
        <!-- Footer -->
        <div class="legal">
          <div class="copyright">
            &copy; 2020 <a href="javascript:void(0);">Dashboard - Centre Equestre</a>.
          </div>
        </div>
        <!-- #Footer -->
      </aside>
      <!-- #END# Left Sidebar -->
    </section>

    <section class="content">
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </section>


  </div>
