<div style="min-width: 100%; min-height:200%; background-image: url('../assets/img/horse.jpg');">
  <br>
  <div class="signup-box"
    style="padding-left: 0; margin: 7% auto; max-width: 360px; background-color: white; border-radius:1%;">
    <div class="card">
      <div class="body">
        <h2 class="textual">User Registration</h2>
        <form id="sign_up" #f="ngForm" (ngSubmit)="onRegister(f.value)">
          <div class="alert alert-danger" *ngIf="mode==0 && errorMessage">
            <strong>{{errorMessage}}</strong>
          </div>
          <div class="alert alert-success" *ngIf="mode==1">
            <strong>Registration Success</strong>
          </div>
          <div class="input-group">
            <span class="input-group-addon">
              <i class="material-icons">person</i>
            </span>
            <div class="form-line">
              <input type="text" ngModel="" class="form-control" name="nom" placeholder="Nom" required autofocus
                autocomplete="off" />
            </div>
          </div>
          <div class="input-group">
            <span class="input-group-addon">
              <i class="material-icons">person</i>
            </span>
            <div class="form-line">
              <input type="text" ngModel="" class="form-control" name="prenom" placeholder="Prénom" required
                autocomplete="off" />
            </div>
          </div>
          <div class="input-group">
            <span class="input-group-addon">
              <i class="material-icons">phone</i>
            </span>
            <div class="form-line">
              <input type="text" ngModel="" class="form-control" name="telephone" placeholder="Téléphone" required
                autocomplete="off" />
            </div>
          </div>
          <div class="input-group">
            <span class="input-group-addon">
              <i class="material-icons">email</i>
            </span>
            <div class="form-line">
              <input type="email" ngModel="" class="form-control" name="username" placeholder="Email Address" required
                autocomplete="off" />
            </div>
          </div>

          <div class="input-group">
            <span class="input-group-addon">
              <i class="material-icons">lock</i>
            </span>
            <div class="form-line">
              <input type="password" ngModel="" class="form-control" name="password" placeholder="Password" required />
            </div>
          </div>
          
          <div class="input-group">
            <span class="input-group-addon">
              <i class="material-icons">lock</i>
            </span>
            <div class="form-line">
              <input type="password" ngModel="" class="form-control" name="repassword" placeholder="Confirm Password" required>
            </div>
          </div>

          <button [disabled]="!f.valid" class="btn btn-block btn-lg bg-pink waves-effect"
            type="submit">S'INSCRIRE</button>

          <div class="m-t-25 m-b--5 align-center">
            <a [routerLink]="['']">Vous êtes déjà inscrit ? login here</a>
          </div>
        </form>
      </div>
    </div>
  </div>
  <br>
</div>